*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.paymain {
    width: 763px;
    height: 530px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
}